<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496143642602-bnpnfev4s35v9q3h85kng18gkn3g66as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496143642602-bnpnfev4s35v9q3h85kng18gkn3g66as</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496143642602-5fm22os84ut95rbuorma7924lutdnja5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2cjcSFh2cWaGoJLM9F652SKIIdR7led8</string>
	<key>GCM_SENDER_ID</key>
	<string>496143642602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xtra.car.maintenance</string>
	<key>PROJECT_ID</key>
	<string>drivoo-b5d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>drivoo-b5d4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496143642602:ios:9466481e0064ecdf8f0c93</string>
</dict>
</plist>